## Read data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt

In [6]:
df=pd.read_csv('E:/Nake/ML/car data.csv')

In [7]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df.info

<bound method DataFrame.info of     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

## checking correlations

In [15]:
corr_mat = df.corr().round(2)
print(corr_mat)
# selling_price is strongly correlated with year and present_price

               Year  Selling_Price  Present_Price  Kms_Driven  Owner
Year           1.00           0.24          -0.05       -0.52  -0.18
Selling_Price  0.24           1.00           0.88        0.03  -0.09
Present_Price -0.05           0.88           1.00        0.20   0.01
Kms_Driven    -0.52           0.03           0.20        1.00   0.09
Owner         -0.18          -0.09           0.01        0.09   1.00

In [17]:
x=df[['Present_Price']]
x

     Present_Price
0             5.59
1             9.54
2             9.85
3             4.15
4             6.87
..             ...
296          11.60
297           5.90
298          11.00
299          12.50
300           5.90

[301 rows x 1 columns]

In [18]:
y=df['Selling_Price']
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

## Split data

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

## Fitting

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr=LinearRegression()

In [25]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
print(lr.coef_)
print(lr.intercept_)

[0.49520649]
0.7487367086760983

## Predicting

In [49]:
y_test_pred=lr.predict(x_test)

In [30]:
y_train_pred=lr.predict(x_train)

In [31]:
print(y_test_pred)
print(y_train_pred)

[ 5.40367775  1.15777727  3.57141372  6.49313204 10.53896909  3.70511948
  4.1111888   1.02110028  4.1111888   5.40367775  3.02668658  1.21918288
  3.57141372  5.67108926  6.09201478 12.21276704  4.95799191  4.09633261
  1.26870353  1.65001253  4.71534073  3.57141372  5.40367775  7.48354503
  1.12014158  1.16471016  1.13846422  1.3429845   1.23899114  8.19664238
  4.1111888   5.651281    1.23899114  5.15112244  5.70080165  1.49154645
  4.56182671  4.63610769  1.12014158  7.68162762  5.61661654 18.55636223
  3.57141372  4.27955901  4.74010105  7.48354503  1.03595648  1.32812831
  5.651281    5.01246462  6.7110229   2.94250148  5.40367775 18.55636223
  1.49154645  1.47669025  1.13846422  2.94250148  3.65559883  2.45719911
  7.53306568]
[ 5.1709307   2.94250148 18.69006798  4.11614087  4.66086801  7.23098971
  9.96452956  1.00129202  3.57636579  2.70480236  3.17029646  1.01614822
  5.40367775  1.26870353  3.96262685  1.13846422  7.48354503  1.87780751
  4.46278541  1.01614822  9.97938576  3.57141372  4.46278541  5.40367775
  1.47669025  5.40367775  8.01836804  1.14985397  3.67045502  1.11518951
  4.51230606  6.59217334  2.08084218  5.40367775  1.03100441  1.18451842
  1.21918288  1.5410671   5.80479501  4.1111888   3.26933776  1.14985397
  4.126045    1.61534807  1.21918288  6.92891375  3.39809145  5.40367775
  3.02668658  7.48354503  2.94250148  1.00624409  1.15777727  5.67604132
  7.41421612  1.14985397  4.75990931  9.96452956  1.16471016  4.51230606
  1.63020427  3.57636579  5.88898012  1.02110028  6.09201478  4.34888792
  4.11614087  1.47669025  4.11614087  2.94250148  4.15080532 13.32202959
  1.11023745  4.56182671 10.87570951  1.21918288  1.12014158  1.23899114
  3.67045502  4.64601182  1.00129202  4.56677878  1.49154645  1.03100441
  2.80384366  1.00129202  1.61534807  2.93259735  3.71007154  6.86453691
  4.90847126  1.03100441  4.70048453  7.48354503  3.57141372  5.40367775
  8.1223614  15.90700749  5.62652067  7.48354503  1.47669025  0.98643583
 46.60485805  2.53148009  1.13846422  4.11614087  2.71965855  4.31917553
  1.00129202 15.90700749  4.1111888   5.40367775  1.47669025  5.70080165
 18.55636223  1.03100441  5.40367775  1.17956636  5.651281    5.70080165
  4.74010105  1.47669025  1.17956636  1.03595648  2.94250148  1.21423081
  1.93723229  4.51230606  9.96452956  5.40367775 15.90700749  4.27955901
  1.23899114  4.31422346  1.00624409  1.4420258   3.51694101 12.02954064
  7.48354503  9.96452956  3.67045502  3.62093437  3.76949632 11.1035045
  5.34920504  4.56677878 12.49998681  6.19600814  1.1449019   3.57141372
  2.46215118  3.02668658  1.21423081  1.16471016 12.05430096  1.00129202
  1.68962905  2.94250148  1.15480603  3.62093437  6.93881788  1.00624409
  4.76981344  7.55287394  3.02668658  7.41421612  1.1597581   1.49154645
  1.3429845   7.48354503  7.48354503  1.16471016  7.48354503  8.7166092
 13.32202959  3.67045502  5.88898012  1.68962905  1.63020427  4.58163497
  9.92986511  1.01614822  5.40367775  4.19042184  5.47300666  1.37269689
  4.21518217  1.00624409  4.28946314  1.9223761   1.21918288 15.90700749
  6.09201478  4.21518217  8.07284075  2.61071313 15.90700749  4.21518217
  1.17956636  2.70480236  0.98148376  1.21918288  1.02110028  5.40367775
  3.57141372  3.17029646  4.45783335  1.1449019   1.03595648  7.48354503
  5.70080165  1.16471016  4.90847126  1.03100441 10.87570951  1.00129202
  4.51230606  1.47669025  5.05703321  9.96452956  3.21981711  1.01614822
  7.48354503  1.10528538  3.91805827  4.70048453  1.07062093  3.744736
  4.09633261  7.55287394  4.27955901  7.48354503  8.07284075  5.16597863
  0.90720279  5.651281    1.12014158  1.68962905  2.80384366  1.06566886]

## Metrics evaluation

In [32]:
from sklearn.metrics import mean_squared_error

In [33]:
mse_train=mean_squared_error(y_train_pred,y_train)

In [35]:
mse_train

6.076897137341826

In [37]:
rmse_train=np.sqrt(mse_train)
rmse_train

2.465136332404726

In [38]:
mse_test=mean_squared_error(y_test_pred,y_test)

In [39]:
mse_test

5.2443142573240245

In [54]:
rmse_test=np.sqrt(mse_test)
rmse_test
#low test error

2.290046780597293

## Selling_price prediction

In [53]:
print(y_train_pred)

[ 5.1709307   2.94250148 18.69006798  4.11614087  4.66086801  7.23098971
  9.96452956  1.00129202  3.57636579  2.70480236  3.17029646  1.01614822
  5.40367775  1.26870353  3.96262685  1.13846422  7.48354503  1.87780751
  4.46278541  1.01614822  9.97938576  3.57141372  4.46278541  5.40367775
  1.47669025  5.40367775  8.01836804  1.14985397  3.67045502  1.11518951
  4.51230606  6.59217334  2.08084218  5.40367775  1.03100441  1.18451842
  1.21918288  1.5410671   5.80479501  4.1111888   3.26933776  1.14985397
  4.126045    1.61534807  1.21918288  6.92891375  3.39809145  5.40367775
  3.02668658  7.48354503  2.94250148  1.00624409  1.15777727  5.67604132
  7.41421612  1.14985397  4.75990931  9.96452956  1.16471016  4.51230606
  1.63020427  3.57636579  5.88898012  1.02110028  6.09201478  4.34888792
  4.11614087  1.47669025  4.11614087  2.94250148  4.15080532 13.32202959
  1.11023745  4.56182671 10.87570951  1.21918288  1.12014158  1.23899114
  3.67045502  4.64601182  1.00129202  4.56677878  1.49154645  1.03100441
  2.80384366  1.00129202  1.61534807  2.93259735  3.71007154  6.86453691
  4.90847126  1.03100441  4.70048453  7.48354503  3.57141372  5.40367775
  8.1223614  15.90700749  5.62652067  7.48354503  1.47669025  0.98643583
 46.60485805  2.53148009  1.13846422  4.11614087  2.71965855  4.31917553
  1.00129202 15.90700749  4.1111888   5.40367775  1.47669025  5.70080165
 18.55636223  1.03100441  5.40367775  1.17956636  5.651281    5.70080165
  4.74010105  1.47669025  1.17956636  1.03595648  2.94250148  1.21423081
  1.93723229  4.51230606  9.96452956  5.40367775 15.90700749  4.27955901
  1.23899114  4.31422346  1.00624409  1.4420258   3.51694101 12.02954064
  7.48354503  9.96452956  3.67045502  3.62093437  3.76949632 11.1035045
  5.34920504  4.56677878 12.49998681  6.19600814  1.1449019   3.57141372
  2.46215118  3.02668658  1.21423081  1.16471016 12.05430096  1.00129202
  1.68962905  2.94250148  1.15480603  3.62093437  6.93881788  1.00624409
  4.76981344  7.55287394  3.02668658  7.41421612  1.1597581   1.49154645
  1.3429845   7.48354503  7.48354503  1.16471016  7.48354503  8.7166092
 13.32202959  3.67045502  5.88898012  1.68962905  1.63020427  4.58163497
  9.92986511  1.01614822  5.40367775  4.19042184  5.47300666  1.37269689
  4.21518217  1.00624409  4.28946314  1.9223761   1.21918288 15.90700749
  6.09201478  4.21518217  8.07284075  2.61071313 15.90700749  4.21518217
  1.17956636  2.70480236  0.98148376  1.21918288  1.02110028  5.40367775
  3.57141372  3.17029646  4.45783335  1.1449019   1.03595648  7.48354503
  5.70080165  1.16471016  4.90847126  1.03100441 10.87570951  1.00129202
  4.51230606  1.47669025  5.05703321  9.96452956  3.21981711  1.01614822
  7.48354503  1.10528538  3.91805827  4.70048453  1.07062093  3.744736
  4.09633261  7.55287394  4.27955901  7.48354503  8.07284075  5.16597863
  0.90720279  5.651281    1.12014158  1.68962905  2.80384366  1.06566886]

In [42]:
print(y_test_pred)

[ 5.40367775  1.15777727  3.57141372  6.49313204 10.53896909  3.70511948
  4.1111888   1.02110028  4.1111888   5.40367775  3.02668658  1.21918288
  3.57141372  5.67108926  6.09201478 12.21276704  4.95799191  4.09633261
  1.26870353  1.65001253  4.71534073  3.57141372  5.40367775  7.48354503
  1.12014158  1.16471016  1.13846422  1.3429845   1.23899114  8.19664238
  4.1111888   5.651281    1.23899114  5.15112244  5.70080165  1.49154645
  4.56182671  4.63610769  1.12014158  7.68162762  5.61661654 18.55636223
  3.57141372  4.27955901  4.74010105  7.48354503  1.03595648  1.32812831
  5.651281    5.01246462  6.7110229   2.94250148  5.40367775 18.55636223
  1.49154645  1.47669025  1.13846422  2.94250148  3.65559883  2.45719911
  7.53306568]